{% extends "base.html" %}

{% block content %}
    <h1>Добавление новости</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p style = "width: 100%">
        <div>
            {{ form.title.label }}<br>
            {{ form.title }}<br>
        </div>
            {% for error in form.title.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.content.label }}<br>
            {{ form.content }}<br>
            {% for error in form.content.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
